<div class="container">
    <h2>Students Summary</h2>
    <div class="pull-right" >
      <button class="btn btn-primary"(click)="addStudentForm()" style="float: right;">Add Student</button>
      <br>
    </div>
    <br>
    <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Resources</th>
          <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of data; let i=index;">
              <th scope="row">{{i+1}}</th>
              <td>
               {{item.name}}
              </td>
              <td>{{item.email}}</td>
              <td>{{item.resources[0].name}}</td>
              <td>
                <a href="javascript:;" (click)="editStudent(item.id)">Edit</a> 
               &nbsp;
                <a  href="javascript:;" (click)="deleteStudent(item.id)">Delete</a>
              </td>
            </tr>
            </tbody>
      </table>
</div>
